<%- include('partials/header') %>
<%- include ('partials/nav') %>
<%- include('partials/category-options') %>
<div class="notfound">
    <h1>Page <%= Category %> not found!</h1>
    <h3>Go back <a href="home">Home</a></h3>
</div>
<%- include ('partials/footer') %>