<%- include('../partials/header') %>
<%- include ('../partials/nav') %>
<%- include('../partials/category-options') %>
    <div class="all-container">
        <div class="all-products">
            <h2> <%= Category.catName %> Products</h2>
                <div class="row">
                    <% for (let product of Category.products) { %>
                        <div class="product">
                            <img src="<%= product.image %>" alt="<%= product.name %>">
                            <h3><a href="/categories/<%= Category.catName %>/<%= product.id %>"><%= product.name %></a></h3>
                            <p>Price: R<%= product.price %></p>
                            <!-- Add more product details as needed -->
                        </div>
                    <% } %>
                </div>
        </div>
    </div>
<%- include('../partials/footer') %>